@import '_mixins';
.main{
    @include flexible (row, nowrap, flex-start, flex-start);
    &__menu{
        min-height: 100vh;
        width: 20%;
        background-color: #ebefea;
        padding: 8rem 4rem 0;
    }
    &__btn-burger{
        display: none;
        // width: 3rem;
        // background-color: pink;
    }
    &__nav{
        margin: 1.6rem 0;
    }
    &__wrapper{
        min-height: 100vh;
        width: 80%;
        padding: 2rem 4rem 0;
        background-color: #fffdfa;
        @include flexible (column, wrap, flex-start, flex-start);
    }
    &__plus{
        margin-top: 1rem;
        width: 100%;
        @include flexible (row, nowrap, flex-start, center);
    }
    &__inside{
        width: 70%;
        @include flexible (row, nowrap, flex-start, center);
    }
    &__btn.save{
        @include flexible (row, nowrap, space-between, center);

        padding: .6rem 1rem;
        border-radius: 1rem;
        background-color: #fafafa;
        color: #eee;
        width: 70%;
        margin-right: 1rem;
    }
    &__svg{
        width: 1.4rem;
        margin-right: 1rem;
    }
    &__svg.plus{
        width: 1.4rem;
        border-radius: 1.5rem;
        // padding: 1rem;
        fill: #212121;
    }
    &__svg.plus:hover{
        transform: scale(1.6);
        // fill: #212121;
        background-color: #212121;
        fill: #fafafa;
    }
    &__btn{
        // background-color: hotpink;
        // padding: 1rem;
        @include flexible (row, nowrap, flex-start, center);
    }
    &__btn.notifications{
        margin-right: 1rem;
        // width: 10%;
    }
    &__input{
        width: 70%;
        color: #212121;
    }
    &__btn.username{
        // width: 20%;
    }
    &__name-box{
        font-weight: 800;
        @include flexible (row, nowrap, center, center);
    }
    &__img.profile{
        background-color: blue;
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
    }
    &__name{
        margin-right: .4rem;
    }
    &__name.done{
        text-decoration: line-through ;
    }
    &__moods{
        width: 100%;
        margin-top: 2rem;
        @include flexible (row, wrap, flex-start, flex-start);
    }
    &__mood{
        color: #212121;
        width: 30%;
        margin-right: 2rem;
        padding: 2rem;
        background-color: #ebefea;
        // background-color: #fafafa;
        border-radius: 1rem;
    }
    &__activitie{
        margin-top: 1rem;
        color: #d3d3d3;
        background-color: #212121;
        padding: 1rem;
        border-radius: 1rem;
        @include flexible (row, nowrap, space-between, center);
    }
    &__symbols{
        @include flexible (row, nowrap, flex-start, center);
    }
    &__svg.symbol{
        fill: #d3d3d3;
        width: 1.2rem;
        margin: 0;
    }
    &__svg.symbol.done:hover{
        fill: #5ced73;
        transform: scale(1.2);
    }
    &__svg.symbol.done-active{
        fill: #5ced73;
    }
    &__svg.symbol.done-active:hover{
        fill: #d3d3d3;
        transform: scale(1.2);
    }
    &__svg.symbol.trash:hover{
        fill: #b60000;
        transform: scale(1.2);
    }
    &__svg.trash-active{
        width: 1.2rem;
        margin: 0;
        fill: #b60000;
    }
    &__svg.trash-active:hover{
        fill: #d3d3d3;
        transform: scale(1.2);
    }


}